@{
  Layout="_Layout";
}
<nav class="navbar">
  <ul>
    <li>@Html.ActionLink("Engineers", "Index", "Engineers")</li>
    <li>@Html.ActionLink("Machines", "Index", "Machines")</li>
  </ul>
</nav>

<div class="intro_header">
  <div class="intro_tag">
    <h1>Factory Floor</h1>
  </div>
</div>

<div class="intro_info">
  <p>Dr. Sillystringz Factory Repair Manager</p>
  <p>Est. 1989</p>
</div>